<div class="hero">
<br />

	<div class="frosty col-xs-10 col-xs-offset-1 text-center">
		<br />
		<h1>Learn Magic from the Pros</h1>
		<br />
    	<h2>Become the mentor for thousand's people wishing to study</h2>
    	<br />
    	<%= link_to 'Learn More', courses_path, :class => 'btn btn-success' %>
    	<br /><br />
	</div>

	<br />
	<br />

<div class="col-xs-10 col-xs-offset-1 features text-center">
	<div class="col-sm-4">
		<h3>Learn to code</h3>
	</div>

	<div class="col-sm-4">
		<h3>Build your webapps</h3>
	</div>

	<div class="col-sm-4">
		<h3>Change your life</h3>
	</div>
</div>
	
	
</div>