.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 10px;
  margin-top: 10px;
}

body {
	background: url('confectionary.png');
	font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}
h1, h2, h3, h4, h5, h5 .navbar{
	margin:0;
}

.navbar {
	border-radius:0;
	font-family: "Helvetice Neue", Helvetica;
	font-weight: 200;
	box-shadow: 0px 1px 3px #2a2a2a;
	background: url('tweed.png');
}

.navbar-inverse a.navbar-brand {
  color: white;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 100;
}

.hero {
	background: url('hero.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	height: 370px;
  	box-shadow: 0px 3px 8px #2a2a2a;
  }

.frosty {
	bachground:rgba(0,0,0, 0.5);
	color:white;
}

.frosty h1 {
	font-family: "Helvetica Neue", Helvetica;
	font-weght: 100;
	text-shadow: rgba(0,0,0,0.95) 1px 1px;
}

.frosty h2 {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
  text-shadow: rgba(0,0,0,0.95) 1px 1px;
}

.features {
  color:white;
}

.btn {
	border-radius:0;
}

.clr{
  clear:both;
}

.field_with_errors {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 8px;
  margin: 10px;
}

.lesson {
  background-color: #2B2D2E;
  margin-top:10px;
  height:130px;
}
.lesson a{
  color:white;
  font-family: "Helvetica Neue",Helvetica;
  font-weight:100;
  font-size: 15px;
}

.lesson a b {
  font-weight: 100;
  font-size:25px;
}

.section {
  background-color:white;
  border: 1px solid;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4; 
  padding: 20px;
}

ul {
      list-style-type: none;
}

ul .header .glyphicon {
  font-size:25px;
}

.section-li {
  border: 1px solid;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding:20px;
  margin:20px;
}

.lessons li {
  background:black;
  color:white;
  margin:10px;
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  padding:8px;
  font-size:15px;
}

.lessons li b {
  fint-size:25px;
  font-weight:100;
}

.lessons li p {
  margin:0;
}

.social-button {
  width: 50px;
  margin:4px;
}

.social a:hover {
  text-decoration:none;
}